body {
	width: 99%;
	height: 98vh;
	min-width: 960px;
	min-height: 720px;
	font-family: "Courier", monospace;
}

@font-face {
	font-family: Bubble;
	src: url(font/crackdown/crkdwno1.ttf);
}

.selectorRow {
	margin-top: 1em;
	margin-bottom: 1em;
}

.button {
	width: 100px;
	padding: 5px;

}

.uiBox {
	border-radius: 15px;
	border: 1px solid;
	padding: 15px;
	z-index: 1;
}

.inGameBox {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#canvas {
	min-width: 960px;
	min-height: 720px;
	position: absolute;
	border: 1px solid;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

#title {
	font-family: Bubble;
	margin: auto;
	width: 60%;
	font-size: 48pt;
	position: absolute;
	text-align: center;
	z-index: 1;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}

#menu {
	width: 250px;
	margin: auto;
	position: absolute;
	text-align: center;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#aboutBox {
	width: 500px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#closeAboutButton {
	margin: auto;
}